
 .center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }

  .nav-center {
    text-align: center;
  }
  .nav-center ul.nav {
    display: inline-block;
  }
  .nav-center ul.nav li {
    display: inline a;
    float: left;
  }
  .tabbg{
      /* border: 1px solid; */
      padding: 5px
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 0px solid #ddd;
    border-bottom: 1px solid; 
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    color: white;
  }

  /* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900); */
/* body {
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif
} */
a[data-toggle="modal"] {
  margin: 5px;
}
.title {
  color: #757575;
  font-weight: bold;
}
.modal {
  text-align: left;
}
.modal-content {
  border: none;
  border-radius: 2px;
      box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.modal-header{
  border-bottom: 0;
  padding-top: 15px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 0px;
  background: linear-gradient(90deg, #404040 0%, #404040 100%);
}
.modal-title {
  font-size: 23px;
  color: #fff;
  margin-bottom: 9px;
}
.modal-body{
  border-bottom: 0;
  padding-top: 5px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 10px;
  font-size: 15px;
}
.modal-footer {
  border-top:0;
  padding-top: 0px;
  padding-right:26px;
  padding-bottom:26px;
  padding-left:26px;
/* }
.btn-default,.btn-primary {
    border: none;
    border-radius: 2px;
    display: inline-block;
    color: #424242;
    background-color: #FFF;
    text-align: center;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem; 
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    letter-spacing: .5px;
    transition: .2s ease-out;
}
.btn-default:hover{
  background-color: #FFF;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-primary {
  color: #FFF;
  background-color: #2980B9;
}
.btn-primary:hover{
  background-color: #2980B9;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
} */
footer {
  text-align: center;
  margin: 15px;
}
footer h4{
  font-size: 2.92rem;
  font-weight:100;
    margin: 1.46rem 0 1.168rem; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.lrg-logo {
  width: 300px;
  height: 50px;
  text-align: center;
  background-image: url('https://www.timeally.io/images/logo.png');
  background-repeat: no-repeat;
}

.sml-logo {
  width: 200px;
  height: 20px;
  text-align: center;
  background-image: url('https://www.timeally.io/images/logo.png');
}

.ptb-50{
  padding: 50px 50px;
}

.section_bg_gray {
  background-color: #f3f5f7;
}

.single_what_we_do {
  background-color: #ffffff;
  text-align: center;
  padding: 0 35px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.single_what_we_do:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.single_what_we_do .top_line {
  position: absolute;
  top: 0;
  left: 44%;
  background-color: #8448ff;
  width: 12%;
  height: 3px;
}

.single_what_we_do .what_we_do_figure {
  padding: 40px 0;
}
.single_what_we_do .what_we_do_figure img {
  margin: 0 auto;
}
.single_what_we_do .what_we_do_title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 35px;
  margin: 0;
  color: #2b353a;
}
.single_what_we_do .what_we_do_content {
  padding-bottom: 65px;
  color: #2b353a;
}
.single_what_we_do .what_we_do_icon {
  position: absolute;
  bottom: -9px;
  left: 47%;
  color: #fff;
  background-color: #8448ff;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single_what_we_do .what_we_do_icon i {
  font-size: 24px;
  text-align: center;
  padding: 2px 3px 2px 5px;
}

@media(min-width: 601px){
  .share {
  position:relative;
  /*top:81%;*/
  /*left:90%;*/
  transform:translate(-50%,-50%) rotate(45deg);
  width:50px;
  height:50px;
  }
}

.share ul {
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.share ul li {
  position:absolute;
  top:0;
  left:0;
  list-style:none;
  width:100%;
  height:100%;
  border-radius:10px;
  background:#981d09;
  transition:0.5s;
  /* border-radius: 90%; */
  overflow:hidden;
}
.share ul.active li {
  transform:scale(0.95);
}
.share ul li a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  line-height:200px;
  text-align:center;
  font-size:20px;
  color:#981d09;
  transition:.5s;
}
.share ul li a .card {
  transform:rotate(-45deg);
}
.share ul li a:hover {
  color:#fff;
  background:#fff;
}
.share ul.active li:nth-child(1){
  top:-100%;
  left:-100%;
  transition-delay:0s;
}
.share ul.active li:nth-child(2){
  top:-100%;
  left:0;
  transition-delay:0.2s;
}
.share ul.active li:nth-child(3){
  top:-100%;
  left:100%;
  transition-delay:0.4s;
}
.share ul.active li:nth-child(4){
  top:0;
  left:100%;
  transition-delay:0.6s;
}
.share ul.active li:nth-child(5){
  top:100%;
  left:100%;
  transition-delay:0.8s;
}
.share ul.active li:nth-child(6){
  top:100%;
  left:0;
  transition-delay:1s;
}
.share ul.active li:nth-child(7){
  top:100%;
  left:-100%;
  transition-delay:1.2s;
}
.share ul.active li:nth-child(8){
  top:0;
  left:-100%;
  transition-delay:1.4s;
}

.toggle {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  /* background:#981d09; */
  background-image: url(Era-Swap-Coin_PNG.png);
  
  transform:scale(0.95);
  overflow:hidden;
  border-radius:10px;
  z-index:1;
  cursor:pointer;
  background-repeat:no-repeat 
}
.toggle:before {
  content:'\f1e0';
  font-family:fontAwesome;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  line-height:200px;
  color:#fff;
  display: none;
  font-size:19px;
  transform:rotate(-45deg);
}

.toggle.active:before {
  content:'\f00d';
}
  

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}





