@media only screen and (min-width: 320px) and (max-width: 768px) {
    
    .left-content{
        margin: 0px auto;
    }

    .centerImg {
        width: 50%;
        height: 22px;
        margin: 5px auto;
    }
    
    /* .send-btn {
        margin: 0 20px !important;
    } */

    .received_btn {
        margin: 0 30px;
    }
    
    .pd-l-3 {
        padding: 0px;
    }

    .pad-l {
        padding-left: 0px;
    }

    .pad-0 {
        padding: 0px !important;
    }

    .pad-tb-40 {
        padding: 40px 0px;
    }

    .p-t-15 {
        padding: 20px 0px 0px 0px !important ;
    }

    .pr-0 {
        padding: 0px !important;
    }

    .resp-pad-0 {
        padding-top: 0px !important;
        text-align: center;
    }

    .marg-bt {
        margin-bottom: 0px;
    }

    .res-img {
        width: 60%;
        height: 100%;
    }

    .owl-nav .owl-next, .owl-prev {
        display: none !important;
    }

    .border_rt  {
        border-right: none;
    }

    .border_right{
        border: none !important;
    }

    .brand_logo {
        width: 70%;
        height: 30px;
    }

    .fnt-size {
        font-size: 12px;
    }

    .wrapper {
        width: 90%;
    } 

    .marg-tp-50 {
        margin-top: 20px;
    }
    
}


@media only screen and (max-width: 1024px) {

    .send-btn {
        margin: 0px;
    }

    .received_btn {
        margin: 0px;
        /* text-align: right; */
    }

    .pad-tb-40 {
        padding: 35px 0px;
    }

    .res-img {
        width: 30%;
        height: 100%;
    }

    .resp_imag {
        width: 60%;
        height: 100%;
    }

    .bet-img {
        width: 30%;
        height: 100%;
    }

    .marg-tp-50 {
        text-align: center;
    }

    .centerImg {
        width: 50%;
        height: 22px;
        margin: 5px auto;
    }

    .txt-cent {
        text-align: center;
    }

    .day_img {
        width: 30%;
        height: 100%;
    }

}